body {
    margin:0;
    padding:0;
    color: #555;
}

header {
    margin: 5px;
    padding: 5px;
}

    header a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 18px;
        margin: 0 15px;
    }
    
    header a:hover {
        color: #555;
        text-decoration: underline;
    }

fieldset {

    background-color: rgba(224, 224, 224, 0.28);
    border-radius: 10px;
    

    border-color: #fefefe;    
}

input, textarea,button {
    min-height: 25px;
}

button, input[type=button], input[type=submit]
{
    
     background-color: rgb(138, 137, 137); 
     padding: 5px 20px; 
     cursor: pointer;
     color: white;
     font-weight: bold;
}

input, textarea, select, button {
    border-radius: 5px;
    border: 1px solid lightgray;
}

select {
    min-height: 28px;
    min-width: 150px;
}

label, .display-label {
    color: #7A4040;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

table {
    width: 100%;
}
    table tr {
        border-bottom: 10px solid #555;
    }
    
    table tr {
        background-color: rgba(121, 121, 121, 0.37);
    }
    table tr:first-child {
        background-color: #505050;
        color: white;
}

    table th {
        text-align:left;
        padding: 5px;
    }
    table td {
        text-align:left;
        padding: 1px 5px;
    }

footer {
 background-color: #353535;
 padding: 5px 10px;
 border-radius: 2px;
 padding: 20px;
 margin-bottom: 20px;
 color: white;
}

    footer a {
     color: white;
    }

.body {
min-height:350px;
padding: 0 10px;
}

.header {
 background-color: rgb(196, 0, 0);
 padding: 5px 10px;
 border-radius: 4px;
}

    .header h1 {
        color: white;
    }

.container {
    margin: 0 auto;
}

.input-validation-error {
    border: 1px solid red;
}

.field-validation-error {
    color: red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 300px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .container {
        width: 300px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
        .container {
        width: 300px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .container {
        width: 700px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
       .container {
        width: 900px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .container {
        width: 700px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
        .container {
        width: 700px;
    }
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
        .container {
        width: 990px;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
         .container {
        width: 990px;
    }
}


.logo {
    background-color:white;
    background-image: url(logo.png);
    width: 50px;
    height: 40px;
    background-size: cover;
    display: inline-block;
    padding: 20px;
    position: relative;
    margin: 0;
    border-radius: 10px;
    /* border-width: 0 4px; */
    /* border-color: white; */
}

.logo-big {
      width: 250px;
    
      height: 250px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#searchFields input, #searchFields select{
    min-width: 100px;
    max-width: 110px;
}

#searchFields span,inline-block {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(0,0,0,0.5);
}

.editor-label {
padding: 0 5px;
}

.thumb {
    width: 80px;
    height: 80px;
}