﻿<!DOCTYPE html>
<html>
<head>
    <title>Rent A Car !</title>
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <h1>Car Rentals</h1>
                <div class="logo right"></div>
            </div>
            <hr />
            <div>
                <span>
                    <a href="/">Home Page</a>|
                <a href="/Fleet/Search">Search for Car</a>|
                <a href="/Home/Contact">Contact</a>

                    @if (User.IsInRole("Admin"))
                    {
                        @("|") <a href="/Home/Admin">Admin</a>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        @("|") <a href="/Fleet/return">Return a car</a>
                    }
                    @if (User.IsInRole("User"))
                    {
                        @("|") <a href="/Orders/Index/@(((RentACar.Model.CustomIdentity)User.Identity).UserId)">My Orders</a>
                    }
                </span>
                <span>
                    @Html.Partial("_LoginPartial")
                </span>
            </div>
            <hr />
        </header>
        <div class="body">
            @RenderBody()
            <br />
        </div>
        <footer>
            <div>
                All rights reserved ©
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", false)
    
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
</body>
</html>
