﻿
@if (User.Identity.IsAuthenticated)
                {
                    <a href="/Account/Logout" class="right">Logout</a>
                    <span class="right">|</span>
                    <a href="#" class="right">Hello @User.Identity.Name</a>
                }
                else
                {
                    <a href="/Account/Login" class="right">Login</a>
                    <span class="right">|</span>
                    <a href="/Account/Register" class="right">Register</a>
                }

