﻿@model RentACar.Model.Car

@{
    ViewBag.Title = "Create";
}

<h2>Add new car to the fleet</h2>

<form method="post" action="/Fleet/Create"  enctype="multipart/form-data">
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>
        
        <div class="editor-label">
            <label>Car Type</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("CarTypeId",ViewBag.CarTypes as SelectList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Travelled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Travelled)
            @Html.ValidationMessageFor(model => model.Travelled)
        </div>

        <div class="editor-label">
            <label>Image</label>
        </div>
        <div class="editor-field">
            <input type="file" required name="image" id="image" data-val="true" data-val-required="you must select an image"/>
            <span class="field-validation-valid" data-valmsg-for="image" data-valmsg-replace="true"></span>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
