﻿@model RentACar.Model.Car

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Travelled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Travelled)
            @Html.ValidationMessageFor(model => model.Travelled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValidForRent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidForRent)
            @Html.ValidationMessageFor(model => model.ValidForRent)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
