﻿@model IEnumerable<RentACar.Model.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Car: 
        </th>
        <th>
            Year: 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Travelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidForRent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
             <label>@(item.CarType.Manufacturer + " - " + item.CarType.Model)</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.ManufactureYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Travelled)
        </td>
        <td>
            <img src="@item.Image" class="thumb" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidForRent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
