﻿@model RentACar.Model.ViewModels.ReturnCarViewModel
@{
    ViewBag.Title = "Return a Car";
}

<h2>Return a Car</h2>

<form method="post" action="/Fleet/Return">

    <fieldset>
        <div class="editor-label">
            <label>Enter a car number to return</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarNumber)
            @Html.ValidationMessageFor(model => model.CarNumber)
        </div>
        <br />
        <input type="submit" value="Return" />
    </fieldset>
</form>
