﻿@model RentACar.Model.ViewModels.SearchCarViewModel

@{
    var searchResults = ViewBag.Results as IEnumerable<RentACar.Model.Car>;
}
<br />
<br />
<fieldset id="searchFields">
    <legend>Search For a Car</legend>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.Manufacturer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Manufacturer)
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </div>
        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.ManufactureYear)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ManufactureYear)
                @Html.ValidationMessageFor(model => model.ManufactureYear)
            </div>
        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.ManualGear)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ManualGear)
                @Html.ValidationMessageFor(model => model.ManualGear)
            </div>

        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.Model)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Model)
                @Html.ValidationMessageFor(model => model.Model)
            </div>

        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.AvailableFrom)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AvailableFrom)
                @Html.ValidationMessageFor(model => model.AvailableFrom)
            </div>

        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.AvailableUntil)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AvailableUntil)
                @Html.ValidationMessageFor(model => model.AvailableUntil)
            </div>

        </span>
        <span>
            <div class="editor-label">
                @Html.LabelFor(model => model.Freetext)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Freetext)
                @Html.ValidationMessageFor(model => model.Freetext)
            </div>

        </span>

        <span>
            <p>
                <button type="submit">Search</button>
            </p>
        </span>

    }

    @if (searchResults != null && searchResults.Any())
    { 
        <h2>Found @searchResults.Count() results:</h2>
        <table>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Year</th>
                <th>Gear</th>
                <th>Travelled</th>
            </tr>
            @foreach (var item in searchResults)
            {
                <tr class="clickable" onclick="location.href = '/Orders/Create/@(item.Id)'">
                    <td>@item.CarType.Manufacturer</td>
                    <td>@item.CarType.Model</td>
                    <td>@item.CarType.ManufactureYear</td>
                    <td>@(item.CarType.ManualGear ? "Manual" : "Auto")</td>
                    <td>@item.Travelled</td>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No results.</h2>
    }

</fieldset>

<div id="history">

    <h2>Search History</h2>

    <table id="historyTable">
        <tr>
            <th>Manufacturer
            </th>
            <th>Manufacture Year
            </th>
            <th>Manual Gear
            </th>
            <th>Model
            </th>
            <th>Available From
            </th>
            <th>Available Until
            </th>
            <th>Free text
            </th>
        </tr>
    </table>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            var history = localStorage.getItem("history") || JSON.stringify([]);
            history = JSON.parse(history);

            $.each(history, function (i, row) {
                var $tr = $('<tr>', { class: "clickable" }).attr("data-search", JSON.stringify(row)).click(function () {
                    var json = $(this).attr("data-search");
                    var data = JSON.parse(json);

                    for (var i in data) {
                        $("#" + data[i].name).val(data[i].value);
                    }

                    $("form").submit();
                });

                $.each(row, function (j, item) {
                    $tr.append($('<td>').text(item.value))
                });

                $("#historyTable").append($tr);
            });

            $("form").submit(function () {

                var data = $('form').serializeArray();
                data.shift();
                history.push(data);
                localStorage.setItem("history", JSON.stringify(history));

            });
        });
    </script>
}