﻿@model RentACar.Model.CarType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CarType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manufacturer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manufacturer)
            @Html.ValidationMessageFor(model => model.Manufacturer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManufactureYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManufactureYear)
            @Html.ValidationMessageFor(model => model.ManufactureYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManualGear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManualGear)
            @Html.ValidationMessageFor(model => model.ManualGear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DailyCost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DailyCost)
            @Html.ValidationMessageFor(model => model.DailyCost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OverdueCost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OverdueCost)
            @Html.ValidationMessageFor(model => model.OverdueCost)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
