﻿@model RentACar.Model.CarType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CarType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufactureYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufactureYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManualGear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManualGear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OverdueCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OverdueCost)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
