﻿@model RentACar.Model.CarType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CarType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufactureYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufactureYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManualGear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManualGear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OverdueCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OverdueCost)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
