﻿@model IEnumerable<RentACar.Model.CarType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManualGear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverdueCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactureYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManualGear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverdueCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
