﻿@model RentACar.Model.Order

@{
    ViewBag.Title = "Create";
}

<p>
    <h2>Order car for rent</h2>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order details</legend>

        <p>
            <b>Order for </b>@(Model.CarNumber.CarType.Manufacturer + " " + Model.CarNumber.CarType.Model)
            <b>Daily cost is: </b>@(Model.CarNumber.CarType.DailyCost)
            <b>Each exceed day wil cost: </b>@(Model.CarNumber.CarType.OverdueCost)
        </p>
        <hr />

        @Html.HiddenFor(x => x.CarNumber.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>


        <p>
            <input type="submit" value="Order" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
