﻿@model IEnumerable<RentACar.Model.Order>

<h2>My Orders</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber.CarType.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber.CarType.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber.CarType.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber.CarType.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
    </tr>
}

</table>
