﻿<h2>Admin</h2>

<ul>
    <li>
        <a href="/Fleet">Manage Fleet</a>
    </li>
    <li>
        <a href="/CarTypes">Manage Car Types</a>
    </li>
    <li>
        <a href="/Orders/All">View all orders</a>
    </li>
</ul>