﻿@{
    ViewBag.Title = "Index";
}


<div class="logo logo-big right"></div>

<h2>About Car Rentals</h2>
<p>
    About® Rental Cars is a one of the favourite car hire companies with many branches. We specialise in providing a large fleet of modern rental cars and vans for self-drive holidays, sporting groups, and business travel.
</p>
